
h1 {
    font-size: 3em;
    
    text-align: center;
}
h2 {
    text-align:center;
}
.boton {
    margin-top: 0.5px;
    padding-left: 20px;
    clear: both;
}
.validacion {
    color: red;
    font-size: 12px;
}
